In [ ]:
#error handling
try:
  #risky code
except:
  #error handling code

In [ ]:
try:
  a = int(input("enter your first number:"))
  b = int(input("enter seconmd number:"))
  print(a/b)
except:
  print("error occurred!")

enter your first number:1
enter seconmd number:3
0.3333333333333333

In [ ]:
try:
  file = open("movies.txt","r")
  print(file.read())
exception:
  print("file not found")
finally:
  print("program ends")

In [ ]:
#Create a list of numbers and print each element
list1 =[1,2,3,4,5]
#looping through the list
for i in list1:
  print(i)

1
2
3
4
5

In [ ]:
fruit =[]
print(fruit)
#append is used to add element in last
fruit.append("apple")
print(fruit)

[]
['apple']

In [ ]:
#Find the sum of all elements in a list
numbers=[5,10,15]
total = 0
for i in numbers:
  total=total+i
  print(total)

5
15
30

In [ ]:
#Reverse a list
nums = [1,2,3,4]
print(reversed_list)
print(reversed_list)

In [ ]:
#Remove duplicate from the list
nums = [1,2,2,3,4,4]
unique = []
for i in nums:
  if i not in unique:
    unique.append(i)
print(unique)

[1, 2, 3, 4]

In [ ]:
#Create a tuple and access its 1st and 2nd element
colors = ("red","green","blue")
print(colors[1])
print(colors[2])

green
blue

In [ ]:
#Conversion of list into a tuple
numbers = [1,2,3,4]
print(type(numbers))
numbers_tuple = tuple(numbers)
print(numbers_tuple)
print(type(numbers_tuple))

<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#Conversion of tuple into list
colors = ("red","blue","green")
print(type(colors))
colors_list=list(colors)
print(type(colors_list))

<class 'tuple'>
<class 'list'>

In [ ]:
#Conversion of list into tuple
nums=[1,1,2,3,3,4]
nums_set = set(nums)
print(nums_set)
nums_list=list(nums_set)
print(nums_list)

{1, 2, 3, 4}
[1, 2, 3, 4]

In [ ]:
#Conversion of dictionary into a set
student = {"name":"karan","age":"24"}
student_set = set(student)
print(type(student_set))
print(student_set)

<class 'set'>
{'name', 'age'}

In [ ]:
#Conversion of set into a dictionary
subjects = {"Maths","Science","English"}
subject_dict=dict.fromkeys(subjects)
print(subject_dict)
print(type(subject_dict))

{'English': None, 'Science': None, 'Maths': None}
<class 'dict'>

In [ ]:
ZeroDivisionError - When u divide any no. with 0 --> print(10/0) #dividing by zero
ValueError - When u give wrong value to a function --> num=int("abc")#wrong value
TypeError - When u perform an operation between different data types --> print(5+"abc")#wrong data value
IndexError - When u access the wrong index --> list[10,20,30]..print(list[5])#wrong index
KeyError - When u access a missing key in a dictionary -- students={"name":"Rahul","age":20}  print(student["marks"])# missing key
FileNotFoundError - When python not able to find file in your pc #file not found

In [ ]:
#catching any specific error
try:
  x=int(input("enter number:"))
  print(10/x)
except ZeroDivisionError:
  print("You cannot divide by zero!")
except ValueError:
  print("Enter only number")

enter number:9
1.1111111111111112

In [ ]:
#error handling
#else block
try:
  num=int(input("enter your number:"))
  print(10/num)
except:
  print("error occurred")
else:
  print("No error, program run successfully")

enter your number:9
1.1111111111111112
No error, program run successfully

In [ ]:
#finally
try:
  f=open("movieffs.txt")
except:
  print("file not found error")
finally:
  print("program finished")

file not found error
program finished

In [ ]:
#To create your own error
age = int(input("Enter your age:"))
if age<18:
  raise ValueError("age must be 18 or above for vote")
print("you can vote")

Enter your age:22
you can vote

In [ ]:
Exception - runtime error
Try block - risky code
except-handles error
finally-always error
else - run with no error
raise - to validate anything

In [ ]:
#Custom errors
class LoadBalanceError(Exception):
  #This line creates a custom exception named LoadBalanceError
  #pass is used because class cannot be empty in python
  #we dont need to add any logic inside the class right now
  pass
balance = 500
withdraw = int(input("enter amount:"))
if withdraw>balance:
  raise LoadBalanceError("Insufficient balance")
print("withdraw successful")

enter amount:444
withdraw successful

In [ ]:
try:
  num=int(input("enter a number:"))
  print(100/num)
except:
  print("error")

enter a number:3
33.333333333333336

In [ ]:
try:
  try:
    print(1/0)
  finally:
    print("inner finally")
except ZeroDivisionError:
  print("outer exception")
finally:
  print("outer finally")

inner finally
outer exception
outer finally

In [ ]:
def test():
  try:
    return 10
  finally:
    return 20
print(test())

20

In [ ]:
try:
  try:
    x=int("abc")
  except ValueError:
    print("inner handled")
    raise
except Exception:
    print("outer handled")

inner handled
outer handled

In [ ]:
def test():
  try:
    return 10
  except:
    return 20
  else:
    return 30
print(test())

10

In [ ]:
age = int(input("enter your age:"))
if age<18:
  raise ValueError("Age must be 18 or more")
print("you are eligible")

enter your age:23
you are eligible

In [ ]:
num = int(input("enter your number:"))
#if number is negative, we manually raise an error
#python does not automatically treat negative numbers as wrong
if num<0:
  raise ValueError("Number must be positive")
print("you entered:",num)

enter your number:23
you entered: 23

In [ ]:
print(True+False+True)
print("5"+"4")
print("5"*10)

2
54
5555555555

In [ ]:
def change(x):
  x+=10
a=5
change(a)
print(a)

5

In [ ]:
def update(lst):
  lst.append(10)
nums=[1,2,3]
update(nums)
print(nums)

[1, 2, 3, 10]

In [ ]:
t=(1,2,3)
t=t+(4,)
print(t)

(1, 2, 3, 4)

In [ ]:
s={1,2,2,3,3}
print(len(s))

3

In [ ]:
i=1
while i<10:
  i*=3
  print(i)

3
9
27

In [ ]:
for i in range(3):
  print(i)
else:
  print("done")

0
1
2
done

In [ ]:
try:
  print("A")
  10/0
  print("B")
except:
  print("C")
print("D")

A
C
D

In [ ]:
try:
  print(1)
except:
  print(2)
finally:
  print(3)

1
3

In [ ]:
def test():
  try:
    return 10
  finally:
    return 20
print(test())

20

In [ ]:
#Move all zeros to the end
nums=[0,1,0,3,12]
result=[] #we will store non-zero elements
zero_count=0
for n in nums:
  if n==0:
    zero_count+=1
  else:
    result.append(n)
for i in range(zero_count):
  result.append(0)
print(result)

[1, 3, 12, 0, 0]

In [ ]:
text = "muskan"
left=0
right=len(text)-1
isPalindrome = True
while left<right:
  if text[left]!=text[right]:
    isPalindrome = False
    break
  left+=1
  right+=1
print(isPalindrome)

False

In [ ]:
#Longest word in a sentence
sentence = "Python makes problem solving for"
words = sentence.split()
longest=""
for i in words:
  if len(i)>len(longest):
    longest=i
print(longest)

problem

In [ ]:
num=[1,2,3,2]
target=5
count=0
for i in range(len(num)):
  total = 0
  for i in range(i,len(num)):
    total+=num[i]
    if total==target:
      count+=1
print(count)

2

In [ ]:
#brute force approach it has nested for loops time complexity is more or worst
num=[2,7,11,15]
target=9
count=0
for i in range(len(num)):
  for j in range(i+1,len(num)):
    #check if sum matches the target
     if num[i]+num[j]==target:
      print(num[i],num[j])

2 7

In [ ]:
#we are using two pointer approach to reduce loops and time complexity
num=[2,7,11,15]
target=9
left=0
right=len(num)-1
while left<right:
  current_sum = num[left]+num[right]
  if current_sum == target:
    print(num[left]+num[right])
    break
  elif current_sum <target:
    left+=1
  else:
    right-=1

9

In [ ]:
nums=[10,20,30,40,50]
slow=0
fast=0
while fast<len(nums) and fast+1<len(nums):
  slow+=1
  fast+=2
print(nums[slow])

30